body {
  font-family: 'Josefin Sans', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.toclogo {
  width: 200px;
}
.bg-squares {
  background-color: #ffffff;
  background-image:  linear-gradient(rgb(0,0,0,.1) 1px, transparent 1px), linear-gradient(to right, rgb(0,0,0,.1) 1px, #ffffff 1px);
  background-size: 20px 20px;
}
.asset-sample {
  width: 300px;
  border: 2px solid black;
  height: 300px;
  border-radius: 15px;
  text-align: center;
  font-size: 24px;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  cursor: pointer;

}
fieldset {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 2px solid black;
}
.asset-preview {
  border-top: 2px solid black;
  width: 100%;
  height: 75%;
  border-radius: 0 0 13px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assetid {
  font-size: 12px;
  margin: 0;
  text-align: right;
}
.assetcard-top {
  height: 25%;
}
.imageasset-preview {
  max-width: 95%;
}
.asset-preview-color {
  border-top: 2px solid black;
  width: 100%;
  height: 75%;
  border-radius: 0 0 13px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorasset-hex {
  height: max-content;
  margin: 0;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}
#asset-detailed-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#asset-detailed {
  background-color: white;
  width: 80vw;
  min-width: 850px;
  min-height: 550px;
  height: 50vw;
  border-radius: 15px;
  border: 3px solid black;
  display: flex;
}
#assetview-left {
  width: 40%;
  height: 100%;
  border-right: 3px solid black;
  display: inline-flex;
  border-radius: 12px 0 0 12px;
  position: relative;
  display: flex;
  justify-content: center;
}
#assetview-right {
  width: 60%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.assetpreview-spinner {
  overflow-x: scroll;
  display: flex;
  gap: 5px;
}
.assetcard-type {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#assetview-download {
  background-color: #04A5A6;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#assetview-left-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assetview-img {
  width: 90%;
}
#assetview-save {
  background-color: #04A5A6;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noMargin {
  margin: 0;
}
#assetview-publicDesc {
  width: 90%;
  border: 2px solid black;
  border-radius: 15px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
}
#downloadbutton-icon {
  height: 40px;
}
.close-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
#interactivesetup-wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#interactivesetup {
  background-color: white;
  width: 80vw;
  height: 70vh;
  border: 2px solid black;
  border-radius: 15px;
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.interactivesetup-text {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ADD8E6;
  border-radius: 13px 13px 0 0;
  border-bottom: 2px solid black;
}
.interactivesetup-do {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#interative-email {
  width: 50%;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Open Sans';
  outline: none;
  font-size: 24px;
  text-align: center;
}
.interactive-steps {
  width: 100%;
  height: 100%;
}
#interactiveemail-submit {
  width: 35%;
  height: 30px;
  font-family: 'Open Sans';
  margin: 10px;
  background-color: #ADD8E6;
  border-radius: 15px;
  cursor: pointer;
}
.interactive-icon {
  width: 100px;
  margin: 10px;
}
#emailtip {
  color: red;
}
#interactive-2 {
  display: none;
}
#addnew-img {
  width: 60% !important;
}
#brandviewer {
  overflow-x: scroll;
  /* position: fixed; */
  /* left: 0; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.brandview-tile {
  width: 250px;
  height: 100px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.brandview-tile:hover {
  background-color: #d3d3d3;
}
.brandview-logo {
  max-width: 90%;
}
button {
  cursor: pointer;
}
#pricingtable {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif !important;
}
.bi {
  fill: black !important;
}
#non-existb {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#uploadbox {
  width: 80vw;
  height: 60vh;
  border: 2px solid grey;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.dragover {
  border: 2px solid #04A5A6;
}
.iconimage {
  width: 150px;
}
#file-input {
  display: none;
}
#file-upload-first {
  width: 200px;
  font-family: 'Moderustic', sans-serif;
  height: 50px;
  font-size: 24px;
  margin: 15px;
  border: none;
  color: white;
  border-radius: 10px;;
  background-color: #04A5A6;
}
#uploadpage-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
}
.css-d1aa3 {
  margin: 15px;
}
#uploaded-details-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0,0,0,.5);
}
#uploaded-details {
  background-color: white;
  width: 85vw;
  height: 85vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  border: 3px solid black;
}
#uploaded-left {
  border-radius: 15px 0 0 15px;
  width: 35vw;
  height: 100%;
  border-right: 3px solid black;
}
#uploaded-right {
  width: 65vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.uploaded-details-textarea {
  outline: none;
  resize: none;
  width: 80%;
  height: 20%;
  font-family: 'Moderustic', sans-serif;
  font-size: 14px;
  text-align: center;
  border: 2px solid black;
}
#asset-type-select {
  width: 40%;
  outline: none;
  height: 30px;
  font-family: 'Moderustic', sans-serif;
  cursor: pointer;
  border: 2px solid black;
  text-align: center;
}
#uploaded-close {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
}
.customsize-inline {
  display: inline-block;
}
.numberinput-customsize {
  width: 75px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  font-family: 'Courier', sans-serif;
  font-size: 18px;
  text-align: center;
}
.unitselect-customsize {
  border: none;
  font-family: 'Moderustic', sans-serif;
  outline: none;
}